@use 'sass:color';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: #d0bcff,
	$secondary: #ccc2dc,
	$on-primary: #381e72,
	$on-secondary: #332d41,
	$background: #1c1b1f,
	$surface: #1c1b1f,
	$on-surface: #e6e1e5
);

html,
body {
	--mdc-theme-on-surface: theme.$on-surface;
	margin: 0;
	background-color: theme.$background;
	color: theme.$on-surface;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

a {
	color: #40b3ff;
}

a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}
