@use 'sass:color';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: #d0bcff,
	$secondary: #ccc2dc,
	$on-primary: #381e72,
	$on-secondary: #332d41,
	$background: #1c1b1f,
	$surface: #1c1b1f,
	$on-surface: #e6e1e5,
	$error: #F2B8B5,
	$on-error: #601410,
);

@use '@smui/snackbar/style' as smui-snackabar;
// See https://github.com/material-components/material-components-web/tree/v14.0.0/packages/mdc-snackbar
@use '@material/snackbar/mixins' as snackbar;
// See https://github.com/material-components/material-components-web/tree/v14.0.0/packages/mdc-theme
@use '@material/linear-progress/mixins' as linear-progress;

.mdc-snackbar.demo-error {
	@include snackbar.fill-color(theme.$error);
	@include snackbar.label-ink-color(theme.$on-error);
}


.main-bar {
	@include linear-progress.bar-color(theme.$on-secondary);
	@include linear-progress.buffer-color(theme.$secondary);
}

html,
body {
	--mdc-theme-on-surface: theme.$on-surface;
	margin: 0;
	background-color: theme.$background;
	color: theme.$on-surface;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

a {
	color: #40b3ff;
}

a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}
